
#organism-pages-org-img {
	position: absolute;
    border-bottom: none;
    margin-left: 75%;
    margin-top: 0px;
}

#organism-pages-org-img a img {
    height: 120px;
    border: 2px solid #bfb9b9;
    border-radius: 2px;
}

#organism-pages-org-img .license_img {
	width: 20px;
	height: 20px;
}

#organism-pages-org-img .license_img_holder {
	text-align: center;
}

.organism-pages-tabs .field {
	border-bottom: 1px solid #40b363;
	padding-top: 10px;
	padding-bottom: 10px;

}


.organism-pages-tabs .field-name {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

.organism-pages-tabs .field-value {
	display: inline-block;
	width: 70%;
	vertical-align: top;
}